/* root Values */
:root {
    /* Colors */
    --background: #f5f6ff;
    --card: #fffff5e2;
    --text: ;
    --muted: ;
    --border: 1px solid lightgrey;
    --shadow: 56px;
    --primary: ;

    /* Padding */
    --padding: 8px;
    --paddingbar: 20px;

    /* Border Radius */
    --small-radius: 10px;
    --medium-radius: 18px;
    --large-radius: 24px;

    /* Headers */
    --h1: #e0700d;
    --h2: #060606e6;
}

body {
    background: var(--background);
    color: var(--text);

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}

.container {
    border: var(--border);
    border-radius: var(--medium-radius);
    background: var(--card);
}

.two-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: right;
    padding: var(--padding);
}

.spacer-small {
    height: 8vh;
}

.spacer-medium {
    height: 20vh;
}

.spacer-large {
    height: 50vh;
}

/* Fonts */
.elms-sans-regular {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Semantic Tags */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    padding: var(--paddingbar);


    /* Visual Design  */
    border-bottom: 2px solid lightgrey;
    border-radius: var(--medium-radius);
    background: white;
}


    nav button {
        padding: 6px 20px;
        border: none;
        border-radius: 10px;
        background: grey;
        color: white;
        text-transform: uppercase;

        cursor: pointer;
    }

    nav button:hover {
        color: coral;
        transition: 0.2s ease-in;
    }

    nav a {
        text-decoration: none;
    }

    
main {
    padding: var(--paddingbar);
}


footer {
    /* Grid */
    display: grid;  
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    padding: var(--paddingbar);

    /* Visual Design */
    border-top: 2px solid lightgrey;
    border-radius: var(--medium-radius);
    background: white;
    width: 100%;
}

    footer a {
        text-decoration: none;
    }

    .footer-nav {
        list-style: none;
    }

    .footer-nav h1 {
        font-size: 24px;
        text-transform: uppercase;
    }


/* Classes */
.nav-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    gap: 10%;
    list-style: none;
}

.login-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    align-items: center;
    gap: 20px;
    list-style: none;
}

    .login-links li {
        position: relative;
        display: inline-block;
    }

    .login-links p {
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        font-weight: bold;
    }

.h1 {
    color: var(--h1);
    font-size: 40px;
}

.h2 {
    color: var(--h2);
    font-size: 24px;
}

.introduction-title {
    display: grid;
    place-items: center;
    padding: var(--paddingbar);
    margin: 0 auto;

    font-size: clamp(24px, 5vw, 40px);
    text-align: center;
}

/* Popups */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a39392e;
    backdrop-filter: blur(3px);
    z-index: 4;
}
    .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.popup-login {
    /* Appearance */
    display: none;
    width: 90%;
    max-width: 450px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: var(--medium-radius);
    padding: 8px 0;

    /* Positioning */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    /* Animation */
}

    .popup-login.show, .overlay.show {
        display: block;
    }

    .popup-login input {
        width: 80%;
        padding: var(--padding);
        border-radius: var(--small-radius);
        margin: 10px 0;
        border: none;
    }

    .popup-login p {
        font-size: 20px;
    }

    .error-login {
        display: none;
        font-size: 16px;
        font-weight: bold;
        color: red;
        text-shadow: 1px 1px 1px #1c1919;
    }

    .password-wrapper {
        position: relative;
        width: 80%;
        margin: 10px auto;
    }

        .password-wrapper input {
            width: 100%; 
            padding: 10px;
            padding-right: 40px; 
            box-sizing: border-box;
        }

        .toggle-eye {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
            cursor: pointer;
            user-select: none;
            z-index: 2;
        }


/* Media Queries */




/* Extra Small Devices */
@media only screen and (max-width:600px) {


}
