<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/ACIT-2911/static/styles.css">
        <!-- Imported Links -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <img src="" class="elms-sans-regular" alt="Snack Stash Storeroom">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
            <!-- {% if user.is_logged_in %} -->

            <!-- {% else %} -->
                <ul class="login-links">
                    <li><button>Login</button></li>
                </ul>
        </nav>

        <main>
            <!-- {% if user .is_logged_in %} -->

            <!-- {% else %} -->
            <section class="introduction">
                <h1 class="elms-sans-regular">For your Pantry Tracking Needs!</h1>
            </section>
        </main>

        <footer>
            <div class="footer-connection">
                <img src="" alt="Discord">
            </div>
            <div class="footer-message">

            </div>
            <ul class="footer-nav">
                <li><h1>Navigate</h1></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </footer>
    </body>
</html>
